@import './theme.scss';
@import 'src/styles/variables.module';
@import './mixin.scss';
@import './transition.scss';
@import 'src/styles/element-plus';
@import './sidebar.scss';
body {
    margin: 0;
    padding: 0;
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
    font-weight: 700;
}

html {
    height: 100%;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: ' ';
        clear: both;
        height: 0;
    }
}

// main-container global css
.app-container {
    padding: 20px;
}

.form-create {
    color: #303133;
    .el-form-item__error {
        padding: 2px 0;
        margin-top: 4px;
        font-size: 12px;
        color: #f84a23;
    }
    .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
        margin-right: 1px;
    }
    label {
        font-weight: normal;
        color: #303133;
    }
    .el-input,
    .el-input__inner {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .el-input,
    .el-select {
        width: 100%;
    }
}


/*========== ionic 自定义标签点击效果 水波纹========== */


/* 用法就是在任何需要做click点击事件的class属性中再添加 clickRipple属性 */

.clickRipple {
    position: relative;
    overflow: hidden;
}

.clickRipple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    /*这是个径向渐变的属性，圆形并且中心到外部的颜色依次为#666和透明色。*/
    background-image: radial-gradient(circle, #999 10%, transparent 10%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    /*扩展变化与透明度变化，这里非常考验人的想象能力，即在扩展过程中，透明度也必须发生变化，双重变化形成了水波纹的效果。*/
    transition: transform .2s, opacity .5s;
    -webkit-transition: transform .2s, opacity .5s;
    -moz-transition: transform .2s, opacity .5s;
    -ms-transition: transform .2s, opacity .5s;
    -o-transition: transform .2s, opacity .5s;
}

.clickRipple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}


/*========== ionic 自定义标签点击效果 水波纹 for end ========== */