name: 部署ui库

on:
  push:
    path: 
      - 'libs/**'

jobs:
  deploy-fits-admin-ui:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          # 如果你文档需要 Git 子模块，取消注释下一行
          # submodules: true
      - name: 设置 Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm

      - name: 发布到npm
        env:
          NODE_OPTIONS: --max_old_space_size=4096
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: cd libs && npm publish || true
